{% extends "base.html" %}
{% block content %}


<h1 align="center" style="padding-top: 100px">Cкидки</h1>
<div class="products">
    {% for product in products %}
    <div class="product">
        <a href="{{ product.get_item }}" style="text-decoration: none; color: black">
        <img src="{{product.image.url}}" alt="Product Image"/>
        <h3>{{product.name}}</h3>
        <p>{{ product.description }}</p>
        <button>Add to Cart</button>
        <div class="good-item__prices">-->
            <div class="good-item__prices-old">{{ product.price }}BYN</div>
            <div class="good-item__prices-new">{{ product.discount_price }}BYN</div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}